.main{
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #28cf89;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.c{
    background-color: rgb(75, 243, 9);
    border: 1px solid rgb(9, 243, 134);
}
.c.checked{
    background-color: aliceblue;
}
.c:hover {
    background-color: #45a049;
}
.l {
    display: block;
    margin-bottom: 10px; /* Adjust the gap between links as needed */
    text-decoration: none;
    color: #333; /* Set your desired text color */
  }
  
  /* Optional: Hover effect */
.l:hover {
    color: #df280f; /* Set your desired hover color */
  }

  .level-block {
    display: inline-block;
    background-color: #f4f4f4;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 10px;
  }
  
  .level-block p {
    margin: 0;
    font-weight: bold;
    color: #333;
  }